body{
    background:rebeccapurple;
   position: absolute;
}
.sorry{
    color: wheat;
    top: 50%;
    left: 27%;
    text-align: center;
    font-size: 20px;
    margin: auto;
    
}
.sorry i{
    font-size: 50px;
}
